<style>
    .topnav {
        /* background-color: #f4c3c3; */
        background: linear-gradient(to right, transparent, #f4c3c3, transparent);
        color: green;
        height: 30px;
        text-align: center;
        line-height: 30px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    /* Mobile-specific styles */
    @media (max-width: 768px) {
        .topnav {
            background: linear-gradient(to right, transparent, #f4c3c3, transparent);
            margin-bottom: 5px;
        }
    }
</style>

<div class="topnav">
    <p>₹50 OFF on UPI | Min. ₹500</p>
</div>